<h2 style="marginTop: 30px; marginLeft: 30px; font-family: Helvetica; font-weight: bold;">
  <i class="bi bi-plus-circle"></i> Nouveau Film
</h2>

<div style="marginTop: 30px; marginLeft: 30px;" class="container">

  <div class="d-flex flex-column mb-3">
    <label for="title"><i class="bi bi-film"></i> Titre</label>
    <div class="d-flex align-items-center">
      <input type="text" [formControl]="title" id="title" class="form-control" style="flex: 1;" />
      @if (title.invalid && (title.dirty || title.touched)) {
      <div class="text-danger ms-3" style="width: 250px;">
        @if (title.errors?.['required']) { <small>Titre requis</small> }
        @if (title.errors?.['pattern']) { <small>Majuscules uniquement</small> }
      </div>
      }
    </div>
  </div>

  <div class="d-flex flex-column mb-3">
    <label for="director"><i class="bi bi-person"></i> Realisateur</label>
    <div class="d-flex align-items-center">
      <input type="text" [formControl]="director" id="director" class="form-control" style="flex: 1;" />
      @if (director.invalid && (director.dirty || director.touched)) {
      <div class="text-danger ms-3" style="width: 250px;">
        @if (director.errors?.['required']) { <small>Réalisateur requis</small> }
        @if (director.errors?.['pattern']) { <small>Format: Prénom Nom</small> }
      </div>
      }
    </div>
  </div>

  <div class="d-flex flex-column mb-3">
    <label for="releaseDate"><i class="bi bi-calendar-date"></i> Date de parution</label>
    <div class="d-flex align-items-center">
      <input type="date" [formControl]="releaseDate" id="releaseDate" class="form-control" style="flex: 1;" />
      @if (releaseDate.invalid && (releaseDate.dirty || releaseDate.touched)) {
      <div class="text-danger ms-3" style="width: 250px;">
        @if (releaseDate.errors?.['required']) { <small>Date requise</small> }
        @if (releaseDate.errors?.['futureDate']) { <small>Date de sortie dans le futur</small> }
      </div>
      }
    </div>
  </div>

  <div class="d-flex flex-column mb-3">
    <label for="synopsis"><i class="bi bi-card-text"></i> Synopsis</label>
    <div class="d-flex align-items-center">
      <textarea id="synopsis" name="synopsis" [formControl]="synopsis" rows="3" class="form-control"
        style="flex: 1;"></textarea>
      @if (synopsis.invalid && (synopsis.dirty || synopsis.touched)) {
      <div class="text-danger ms-3" style="width: 250px;">
        @if (synopsis.errors?.['required']) { <small>Synopsis requis</small> }
        @if (synopsis.errors?.['minlength']) {
        <small>{{ synopsis.errors?.['minlength'].requiredLength - synopsis.errors?.['minlength'].actualLength }}
          caractère(s) manquant(s)</small>
        }
      </div>
      }
    </div>
  </div>

  <button style="marginTop: 30px;" class="btn btn-warning" (click)="addMovie()"
    [disabled]="title.invalid || director.invalid || synopsis.invalid || releaseDate.invalid">
    <i class="bi bi-check-circle me-2"></i> Ajouter
  </button>
</div>